/* Error: Missing argument $padding-bottom.
 *   ,--> scss\_home.scss
 * 253|     @include cajas;
 *   |     ^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> scss\_var.scss
 * 6 | @mixin cajas ($padding-bottom){
 *   |        ======================= declaration
 *   '
 *   scss\_home.scss 253:5  cajas()
 *   scss\_home.scss 253:5  @import
 *   scss\estilo.scss 3:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $padding-bottom.\a   \250c \2500 \2500 > scss\\_home.scss\a 253\2502      @include cajas;\d\a   \2502      ^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > scss\\_var.scss\a 6 \2502  @mixin cajas ($padding-bottom){\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   scss\\_home.scss 253:5  cajas()\a   scss\\_home.scss 253:5  @import\a   scss\\estilo.scss 3:9   root stylesheet";
}
