$lscolor: #eeb743; 
$hrcolor: white;
$tscolor: #cb1c24;
$clcolor:#eeeae1;




@font-face {
    font-family: "MavenPro-Medium";
    src: url(../font/MavenPro-Medium.ttf);
  }
  
  @font-face {
    font-family: "MavenPro-Regular";
    src: url(../font/MavenPro-Regular.ttf);
  }
  
  @font-face {
    font-family: "MavenPro-Bold";
    src: url(../font/MavenPro-Bold.ttf);
  }
  
  @font-face {
    font-family: "MavenPro-ExtraBold";
    src: url(../font/MavenPro-ExtraBold.ttf);
  }